body{
    background-image:linear-gradient(#A6B1E1,#DCD6F7,#F4EEFF);
    
}
.navbar-dark{
    background-color: #424874;
}
.form-control{
    background-color: #F4EEFF ;
    border: 3px solid #9BA3EB;
    color: azure;
}

.navbar-brand{
    padding-left: 2rem;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
    color: #F4EEFF;
}
.nav-link{
    padding-left: 2rem;
    padding-top: auto;
    padding-bottom: auto;
    font-size: 1.2rem;
    font-style: italic;
}

.card-body{
    font-size: 1rem;
    
}
.card{
    background: transparent;
}
 
.bold{
    font-weight: 900;
}

.card:hover{
    border: transparent;
    
}

.table{
    border-bottom: 2px solid rgba(0, 0, 0, 0.13);
}
